{% extends "base.html" %}
{% block title %}Contact Page{% endblock %}
{% block content %}

<!-- <div class="container"> -->
    <div class="container mt-5">
        <h1 class="text-center">Contact</h1>
        <div class="row">
          
            <div class="col-6 pl-0 mt-5">
              <img class="img-fluid" src="{{url_for('static', filename='contact.jpg')}}"
                  alt="contact logo">
            </div>
            <div class="col-6 mt-5">

                <h3>Harsha Vardhan Chintaginjala</h3>
                <h6>Essen, Germany</h6>
                <br>

                <p><h4>harshavardhanch9@gmail.com</h4></p>
                <p><h6>https://www.linkedin.com/in/harsha-vardhan-chintaginjala</h6></p>
                <p><h5>https://github.com/harshavardhanch9</h5></p>

            </div>
        </div>
        
    </div>

    
<!-- </div> -->


{% endblock %}

