{% from 'components/form_helper.html' import displayField %}
{% extends "base.html" %}

<title>{% block title %}Login{% endblock %}</title>

{% block content %}

  <div class="fluid-container">
    <div class="container mt-5">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <h2>Login</h2>
      <p>Enter the login details to start</p>
      </div>
    
      <form sytle="width:50%" , action="{{ url_for('login')}}", method="POST">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      {{ displayField(form.username, 'Username', autocomplete="off", autofocus=true) }}
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      {{ displayField(form.password, 'Password') }}
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        {{ form.submit_button }}
      </div>
        {{ form.csrf_token }}
    </form>
  </div>
</div>
{% endblock %}
