{% extends "base.html" %}
{% block title %}Tools Page{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="container" style="margin: auto;">
            <h3 class="text-center" style="padding-bottom:10px">Technologies</h3>
            <img class="img-fluid" src="{{url_for('static', filename='tools.png')}}" alt="tools">

            <!-- <div class="row flex item-center">
            <div class="col-sm-6 col-md-4 col-lg-2 mt-3">
                
                <img class="img-fluid" src="{{url_for('static', filename='python.png')}}" alt="model accuracy"/>
                
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 mt-3">
                
                <img class="img-fluid" src="{{url_for('static', filename='pytorch.png')}}" alt="model accuracy"/>
                
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 mt-3">
                
                <img class="img-fluid" src="{{url_for('static', filename='scikit-learn.png')}}" alt="model accuracy"/>
                
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 mt-3">
                
                <img class="img-fluid" src="{{url_for('static', filename='flask.png')}}" alt="model accuracy"/>
                
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 mt-3">
                
                <img class="img-fluid" src="{{url_for('static', filename='yahoo.png')}}" alt="model accuracy"/>
            
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 mt-3">
                
                <img class="img-fluid" src="{{url_for('static', filename='tweepy.png')}}" alt="model accuracy"/>
            
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 mt-3">
                
                <img class="img-fluid" src="{{url_for('static', filename='html1.png')}}" alt="model accuracy"/>
                
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 mt-3">
                
                <img class="img-fluid" src="{{url_for('static', filename='css.png')}}" alt="model accuracy"/>
            
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 mt-3">
                
                <img class="img-fluid" src="{{url_for('static', filename='sql.png')}}" alt="model accuracy"/>
            
            </div>
            </div> -->
        </div>
    </div>
      
{% endblock %}