{% macro footer() -%}
<!-- start footer Area -->
<!-- <footer class="fixed-bottom">
	<div class="fluid-container" style="margin-left: 30px";>
		<div class="row">
			<div class="justify-content-center">
				<div class="single-footer-widget">
					<h4>About This Page</h4>
					<p class="footer-text">
					This website was created using HTML, CSS, Bootstrap and Python.
					</p>
					<p class="footer-text">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved<i class="fa fa-heart-o" aria-hidden="true"></i></p>
				</div>
			</div>
		</div>
	</div>
</footer> -->
			<!-- End footer Area -->

 <!-- footer -->
 <footer class="fixed-bottom">
	<div class="container-fluid" style="background-color: #121416;">
		<div class="row">
			<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12"><img  src="https://i.pinimg.com/originals/ff/42/25/ff4225a4e9bc4b95d6e58633a375a7f4.jpg" alt="" width="50" height="50">
			<p style="color:white;">H stock market analysis was created using ML algorithm and NLP. In this web app you can predict the stock market price movement.</p>
			
			</div>
			<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
			<div>
				<h3 style="color:white;padding-top: 20px;padding-left: 0px;">Contact details</h3>
			</div>
			<div class="contact">
			<ul style="color:white;">
				<li>Essen, Germany</li>
				<li><i class="fa fa-envelope-o fa-2x"></i>harshavardhanch9@gmail.com</li>
				<li><i class="fa fa-phone fa-2x"></i>+49 1608745598</li>
			</ul>
			</div>
			</div>
			<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
			<div>
				<h3 style="color:white;padding-top: 25px;padding-left: 0px;">Quick Links</h3>
			</div>
			<div class="information">
				<ul>
				<li><a style="color:white;padding-top: 10px;" href="/"> <i class="fa fa-arrow-right"></i> Home</a></li>
				<li><a style="color:white;" href="Predict"> <i class="fa fa-arrow-right"></i> Stock Prediction</a></li>
				<li><a style="color:white;" href="tools"> <i class="fa fa-arrow-right"></i> Tools</a></li>
				<li><a style="color:white;" href="contact"> <i class="fa fa-arrow-right"></i> Contact</a></li>
	
				</ul>
			</div>
		</div>
	  </div>
	</div>
 
</footer>
{%- endmacro %}